<launch>
  <arg
    name="model" />
  <param
    name="robot_description"
    textfile="$(find arnie_arm)/urdf/arnie_arm.urdf" />
  <node
    name="joint_state_publisher_gui"
    pkg="joint_state_publisher_gui"
    type="joint_state_publisher_gui" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <node
    name="base_footprint_tf_broadcaster"
    pkg="tf"
    type="static_transform_publisher"
    args="0 0 0 0 0 0 map base_footprint 10"/>
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find arnie_arm)/urdf.rviz" />
</launch>