<launch>
    <node
    name="camera"
    pkg="arnie_vision"
    type="camera"
    args="0"
    output="screen"/>
    <node
    name="database_server"
    pkg="arnie_kiosk"
    type="database_server.py"
    output="screen"/>
    <node
    name="recognizer"
    pkg="arnie_vision"
    type="recognizer.py"
    output="screen"/>
    <node
    name="gui"
    pkg="arnie_kiosk"
    type="gui.py"
    output="screen"/>
</launch>