<launch>
    <node
    name="camera"
    pkg="arnie_vision"
    type="camera"
    args="0"
    output="screen"/>
    <node
    name="database_server"
    pkg="arnie_kiosk"
    type="database_server.py"
    output="screen"/>
    <node
    name="recognizer"
    pkg="arnie_vision"
    type="recognizer.py"
    output="screen"/>
    <node
    name="gui"
    pkg="arnie_kiosk"
    type="gui.py"
    output="screen"/>
    <node name="serial_node1" pkg="rosserial_python" type="serial_node.py">
        <param name="port" value="/dev/ttyACM0"/>
        <param name="baud" value="57600"/>
    </node>

    <node name="serial_node2" pkg="rosserial_python" type="serial_node.py">
        <param name="port" value="/dev/ttyACM1"/>
        <param name="baud" value="57600"/>
    </node>
</launch>